body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #f4f4f4, #fffeff);
    height: 100vh;
    display: flex;
    flex-direction: column; 
    text-align: center;
    justify-content: flex-start; 
    align-items: center; 
    padding: 10px;
    padding-top: 10px;
    margin: 0;
  
}

h1 {
    text-align: center;
    margin-top: 30px;
}

h2 {
    margin-top: 50px;
}

/* finance box*/
.container {  
    max-width: 600px;  
    margin: 20px auto;  
    margin-top: 100px;
    padding: 20px;   
    text-align: center;  
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* ombrage */
    border-radius: 5%;
}

table {
    width: 100%;  
    border-collapse: collapse;
    margin-top: 0px; 
}

th, td {  
    padding: 10px;  
    border: 1px solid #ddd;  
    background-color: white;
    
}


th {
    background-color: #f4f4f4;  
}

/*Retour au Tableau de Bord*/
.button {
    width: 20%;
    padding: 12px;
    background-color: #c6a4e8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto 0 auto;
    transition: background-color 0.3s ease;
    display: block; 
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #64398c;
    color: white;
}

.footer_ra{
    text-align:center; 
}