
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg,#f4f4f4, #fffeff);
    color: #2b0a0a;
    height: 100vh;
    /*margin-top: 10%;*/
    display: flex;
    flex-direction: column;  /* Ajouté pour aligner verticalement les éléments */
    text-align: center;
    padding: 10px;
    overflow: hidden;
    margin: 0; /* Remove body margin */
    padding: 0; /* Remove body padding */
}

h1 {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

.container {
    margin-top: 50px;
    max-height: 90vh; /* Limiter la hauteur du conteneur à 90% de la hauteur de la fenêtre */
    overflow-y: auto; /* Permettre le défilement vertical */
    padding: 20px; /* Ajoutez de l'espace autour du contenu */
    border-radius: 8px; 
}

.btn {
    width: fit-content;
}

#ret_btn {
    width: 25%;
    padding: 12px;
    background-color: #c6a4e8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto 0 auto;
    transition: background-color 0.3s ease;
    display: block; 
    text-decoration: none;
    text-align: center;
}

#ret_btn:hover {
    background-color: #64398c;
    color: white;
}

#modifEv{
    max-width: 900px;
}

#btn-sup-event {
    width: 97px;
}

#modifBut{
    width: 200px;
}
