.container {
    margin-top: 50px;
    max-height: 90vh; /* Limiter la hauteur du conteneur à 90% de la hauteur de la fenêtre */
    overflow-y: auto; /* Permettre le défilement vertical */
    padding: 20px; /* Ajoutez de l'espace autour du contenu */
    border-radius: 8px; 
}

#ret_btn {
    width: 25%;
    padding: 12px;
    background-color: #c6a4e8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto 0 auto;
    transition: background-color 0.3s ease;
    display: block; 
    text-decoration: none;
    text-align: center;
}

#ret_btn:hover {
    background-color: #64398c;
    color: white;
}