/* app/static/css/style.css */
/* fichier css pour le login.html et le signup.html*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg,#f4f4f4, #fffeff);
    color: #2b0a0a;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    text-align: center;
    justify-content: flex-start; 
    align-items: center; 
    padding: 10px;
    padding-top: 100px;
    margin: 0;
    overflow: hidden;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 200%;
    margin-top: 10px;
}

form {
    background: #ffffff;
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.name-fields input {
    flex: 1;
}

input {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1em;
}

/*!?*/
button {
    width: 50%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto 0 auto;
    transition: background-color 0.3s ease;
    display: block; 
}

button.signup-btn {
    background-color: #954edc;
}

button.login-btn {
    background-color: #30339f;
}

.signup-btn:hover {
    background-color: #511a84;
}

.login-btn:hover {
    background-color: #3b3f8c;
}

a:hover {
    color: slategray;
    font-weight: bolder;
}

.alert {
    color: red;
    margin-top: 20px;
}

#retour_login {
    margin-top: 20px;
    text-decoration: none;
}

#mdp_oublie {
    margin-top: 20px;
    text-decoration: none;
}

#courriel_oublie {
    margin-top: 20px;
    text-decoration: none;
}

/*delete_event button*/
.btn_supp {
    padding: 1px;
    width: 101px;
    height: 50px;
}

#btn-sup-event {
    margin-top: 5px;
}

#zoom_link_in_modify:hover {
    text-decoration: none;
}

.phrase_en_gras {
    font-weight: bolder;
}

#notif{
    width: 10px;
}

#markAsReadForm{
    max-width: 1200px;
    margin-top: 30px;
}

#btnMrkRead{
    width: 170px;
}


